@model INYTWebsite.CustomModels.BookingModel

@{
    ViewData["Title"] = "BookStep1";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string classname = string.Empty;
}

<div class="container">
    <div class="row">
        <!--Form Part-->
        <div class="col-12">

            <!--Booking Information-->
            <div class="card ">
                <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
                <div class="card-body">
                    <h2>Booking Calendar</h2>
                    <p>Please select when you would require this service</p>
                    <br />
                    <p><strong>Service Provider:</strong>@Model.serviceProvider.firstName @Model.serviceProvider.lastName</p>
                    <p><strong>Service requested:</strong>@Model.serviceName</p>

                </div>
            </div>
            <div class="row">
            </div>

            <form id="regForm" asp-controller="BookService" asp-action="BookStep2" method="post">

                <!-- Schedule Widget -->
                <div id="calendar" class="card booking-schedule schedule-widget">
                    <partial name="_Calendar" model="Model" />
                </div>
                <!-- /Schedule Widget -->
                <div class="clearfix"></div>
                <hr />


                <p>By clicking the Book Now button you are agreeing to our Terms of Service and Privacy Policy.</p>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <button class="btn btn-primary btn-skin" name="submit" type="submit"> BOOK NOW</button>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function changethis(id) {

            if ($("#link_" + id).hasClass("available"))
                $("#link_" + id).removeClass("available").addClass("selected");

            var selectedtimes = $("#selectedTimes").val();
            selectedtimes = selectedtimes + "," + id;
            $("#selectedTimes").val(selectedtimes);

            //$('a[id^="link_"]').not("selected").removeClass("available").addClass("timing unavailable");
        }

        function movenext(startdate) {
            var url = "/BookService/GetCalendar/@Model.serviceProviderId/" + startdate + "?handler=Partial";
            $("#calendar").load(url);
        }

        function moveprev(startdate) {
            var url = "/BookService/GetCalendar/@Model.serviceProviderId/" + startdate + "?handler=Partial";
            $("#calendar").load(url);
        }

    </script>
}