@model INYTWebsite.CustomModels.BookingsListModel


@{
    ViewData["Title"] = "CompleteBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CompleteBooking</h2>



<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
</head>

<body>

<div id="paypal-button-container"></div>

</body>