
@{
    ViewData["Title"] = "SignupProcess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<div class="content success-page-cont">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <!-- Success Card -->
                <div class="card success-card">
                    <div class="card-body">
                        <div class="success-cont">
                            <i class="fas fa-check"></i>
                            <h3>Registration successful!</h3>
                            <p>Your registration is complete. Please check your email for a confirmation email</p>
                            <p>Once you confirm your email address, you will be able to login and start getting customers !</p>
                        </div>
                    </div>
                </div>
                <!-- /Success Card -->
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->