<!DOCTYPE html>
<html lang="en">
<!-- START: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Stack admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>I need your time</title>

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/app-assets/fonts/font-awesome/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!--Postcode-->
    <script src="~/js/ideal-postcodes-autocomplete.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/ideal-postcodes-autocomplete.css" />
    <link rel="stylesheet" type="text/css" href="~/css/optional-effects.css" />

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body style="background-color: aliceblue">
    <div id="wrapper">

        <!--Header Section Start-->
        <header id="header" data-spy="affix" data-offset-top="60" data-offset-bottom="60">
            <div class="container">
                <div class="row">
                    <div class="col-md-8  col-sm-12 col-xs-12 col-sm-12">
                        <nav class="navbar">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                                <a class="navbar-brand" href="#"><img class="logo-dark hidden-xs" src="~/images/logo.png" alt="" /> <img class="logo-dark hidden-lg hidden-md hidden-sm" src="images/mobile_logo.png" alt="" /></a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="main-menu collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-left">
                                    <li><a href="~/">Home</a></li>
                                    <li><a href="service.html">Service provider sign up</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>
                    </div>
                    <div class="col-md-4  col-sm-12 col-xs-12 col-sm-12 hidden-xs">
                        <ul class="right-contact">
                            <li><i class="fa fa-phone" aria-hidden="true"></i> +44 8107186985</li>
                            <li><a href="#" class="btn btn-primary btn-skin">Book now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </header>
        <!--/Header Section End-->
        <!-- /.container -->
        @RenderBody()

        <!--Footer-->
        <footer>
            <div class="container-fluid footerbg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <p>I NEED YOUR TIME</p>
                            <div class="about_info">
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Our address</p>
                                <p><i class="fa fa-envelope" aria-hidden="true"></i> info@inyt.com</p>
                                <p><i class="fa fa-phone" aria-hidden="true"></i> +44 0207 123 4567</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Services</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Cleaning</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Electrical</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Plumbing</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Appliances</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Carpentry</a></li>
                            </ul>
                            <ul>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Geyser Service</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Vehicle Care</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Pest Control</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Panting</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <h4>About Us</h4>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="top_awro pull-right" id="back-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i> </div>
                </div>
            </div>

            <!--Boottom Footer-->
            <div class="container-fluid bottom-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright pull-left">&copy; I NEED YOUR TIME 2020 All Right Reserved</p>
                            <ul class="footer-scoails pull-right">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--/Footer-->
    </div>
    @RenderSection("Scripts", required: false)

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/index.js"></script>


</body>
</html>