
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1 class="page-header">
    <i class="fa fa-calendar"></i> February
</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                <i class="fa fa-arrow"></i>
            </th>
            <th scope="col">February <br /> <font size="10">17th</font><br /><font style="color: grey">n/a</font></th>
            <th scope="col">February <br /> <font size="10">18th</font><br /><font style="color: green">available</font></th>
            <th scope="col">February <br /> <font size="10">19th</font><br /><font style="color: grey">n/a</font></th>
            <th scope="col">February <br /> <font size="10">20th</font><br /><font style="color: green">available</font></th>
            <th scope="col">February <br /> <font size="10">21st</font><br /><font style="color: green">available</font></th>
            <th scope="col">February <br /> <font size="10">22nd</font><br /><font style="color: grey">n/a</font></th>
            <th scope="col">February <br /> <font size="10">23rd</font><br /><font style="color: green">available</font></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>08:00</td>
            <td>08:00</td>
            <td></td>
            <td>08:00</td>
            <td>08:00</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>09:00</td>
            <td>09:00</td>
            <td></td>
            <td>09:00</td>
            <td>09:00</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>10:00</td>
            <td>10:00</td>
            <td></td>
            <td>10:00</td>
            <td>10:00</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>11:00</td>
            <td>11:00</td>
            <td></td>
            <td>11:00</td>
            <td>11:00</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>14:00</td>
            <td>14:00</td>
            <td></td>
            <td>14:00</td>
            <td>14:00</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>16:00</td>
            <td>16:00</td>
            <td></td>
            <td>16:00</td>
            <td>16:00</td>
            <td></td>
        </tr>
    </tbody>
</table>