@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@model INYTWebsite.Models.ServiceProviderModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutServiceProvider.cshtml";
    var AppSettings = appSettings.Value;
    var ddlTrades = ViewData["Trades"] as List<SelectListItem>;
}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Dashboard</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4 col-lg-3 col-xl-3 theiaStickySidebar">

                <!-- Profile Sidebar -->
                <div class="profile-sidebar">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="#" class="booking-doc-img">
                                <img src="~/app-assets/images/portrait/medium/avatar-m-11.png" alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3>Darren Elder</h3>

                                <div class="Customer-details">
                                    <h5 class="mb-0">Plumber</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li>
                                    <a href="~/index">
                                        <i class="fa fa-columns"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/schedules">
                                        <i class="fa fa-hourglass-start"></i>
                                        <span>Schedule Timings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/invoices">
                                        <i class="fa fa-file-invoice"></i>
                                        <span>Invoices</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/ratings">
                                        <i class="fa fa-star"></i>
                                        <span>Ratings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/profile">
                                        <i class="fa fa-user-cog"></i>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="~/changepassword">
                                        <i class="fa fa-lock"></i>
                                        <span>Change Password</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/logout">
                                        <i class="fa fa-sign-out-alt"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /Profile Sidebar -->

            </div>
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-6">

                                <!-- Change Password Form -->
                                <form>
                                    <div class="form-group">
                                        <label>Old Password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <div class="submit-section">
                                        <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                                    </div>
                                </form>
                                <!-- /Change Password Form -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->
<!-- Sticky Sidebar JS -->
