@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@model INYTWebsite.Models.ServiceProviderModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutServiceProvider.cshtml";
    var AppSettings = appSettings.Value;
    var ddlTrades = ViewData["Trades"] as List<SelectListItem>;
}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Dashboard</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4 col-lg-3 col-xl-3 theiaStickySidebar">

                <!-- Profile Sidebar -->
                <div class="profile-sidebar">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="#" class="booking-doc-img">
                                <img src="~/app-assets/images/portrait/medium/avatar-m-11.png" alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3>Darren Elder</h3>

                                <div class="Customer-details">
                                    <h5 class="mb-0">Plumber</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li>
                                    <a href="~/index">
                                        <i class="fa fa-columns"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/schedules">
                                        <i class="fa fa-hourglass-start"></i>
                                        <span>Schedule Timings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/invoices">
                                        <i class="fa fa-file-invoice"></i>
                                        <span>Invoices</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="~/ratings">
                                        <i class="fa fa-star"></i>
                                        <span>Ratings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/profile">
                                        <i class="fa fa-user-cog"></i>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/changepassword">
                                        <i class="fa fa-lock"></i>
                                        <span>Change Password</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/logout">
                                        <i class="fa fa-sign-out-alt"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /Profile Sidebar -->


            </div>

            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="doc-review review-listing">

                    <!-- Review Listing -->
                    <ul class="comments-list">

                        <!-- Comment List -->
                        <li>
                            <div class="comment">
                                <img class="avatar rounded-circle" alt="User Image" src="~/images/testimonails2.png">
                                <div class="comment-body">
                                    <div class="meta-data">
                                        <span class="comment-author">Richard Wilson</span>
                                        <span class="comment-date">Reviewed 2 Days ago</span>
                                        <div class="review-count rating">
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p class="recommended"><i class="fa fa-thumbs-up"></i> I recommend the service provider</p>
                                    <p class="comment-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation.
                                        Curabitur non nulla sit amet nisl tempus
                                    </p>
                                    <div class="comment-reply">
                                        <a class="comment-btn" href="#">
                                            <i class="fa fa-reply"></i> Reply
                                        </a>
                                        <p class="recommend-btn">
                                            <span>Recommend?</span>
                                            <a href="#" class="like-btn">
                                                <i class="fa fa-thumbs-up"></i> Yes
                                            </a>
                                            <a href="#" class="dislike-btn">
                                                <i class="fa fa-thumbs-down"></i> No
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Comment Reply -->
                            <ul class="comments-reply">

                                <!-- Comment Reply List -->
                                <li>
                                    <div class="comment">
                                        <img class="avatar rounded-circle" alt="User Image" src="app-assets/images/portrait/medium/avatar-m-11.png">
                                        <div class="comment-body">
                                            <div class="meta-data">
                                                <span class="comment-author">Darren Elder</span>
                                                <span class="comment-date">Reviewed 3 Days ago</span>
                                            </div>
                                            <p class="comment-content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                Ut enim ad minim veniam.
                                                Curabitur non nulla sit amet nisl tempus
                                            </p>
                                            <div class="comment-reply">
                                                <a class="comment-btn" href="#">
                                                    <i class="fa fa-reply"></i> Reply
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- /Comment Reply List -->

                            </ul>
                            <!-- /Comment Reply -->

                        </li>
                        <!-- /Comment List -->
                        <!-- Comment List -->
                        <li>
                            <div class="comment">
                                <img class="avatar rounded-circle" alt="User Image" src="~/images/testimonails2.png">
                                <div class="comment-body">
                                    <div class="meta-data">
                                        <span class="comment-author">Travis Trimble</span>
                                        <span class="comment-date">Reviewed 4 Days ago</span>
                                        <div class="review-count rating">
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                        </div>
                                    </div>
                                    <p class="comment-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation.
                                        Curabitur non nulla sit amet nisl tempus
                                    </p>
                                    <div class="comment-reply">
                                        <a class="comment-btn" href="#">
                                            <i class="fa fa-reply"></i> Reply
                                        </a>
                                        <p class="recommend-btn">
                                            <span>Recommend?</span>
                                            <a href="#" class="like-btn">
                                                <i class="fa fa-thumbs-up"></i> Yes
                                            </a>
                                            <a href="#" class="dislike-btn">
                                                <i class="fa fa-thumbs-down"></i> No
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- /Comment List -->
                        <!-- Comment List -->
                        <li>
                            <div class="comment">
                                <img class="avatar rounded-circle" alt="User Image" src="~/images/testimonails2.png">
                                <div class="comment-body">
                                    <div class="meta-data">
                                        <span class="comment-author">Carl Kelly</span>
                                        <span class="comment-date">Reviewed 5 Days ago</span>
                                        <div class="review-count rating">
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                        </div>
                                    </div>
                                    <p class="comment-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation.
                                        Curabitur non nulla sit amet nisl tempus
                                    </p>
                                    <div class="comment-reply">
                                        <a class="comment-btn" href="#">
                                            <i class="fa fa-reply"></i> Reply
                                        </a>
                                        <p class="recommend-btn">
                                            <span>Recommend?</span>
                                            <a href="#" class="like-btn">
                                                <i class="fa fa-thumbs-up"></i> Yes
                                            </a>
                                            <a href="#" class="dislike-btn">
                                                <i class="fa fa-thumbs-down"></i> No
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- /Comment List -->
                        <!-- Comment List -->
                        <li>
                            <div class="comment">
                                <img class="avatar rounded-circle" alt="User Image" src="~/images/testimonails2.png">
                                <div class="comment-body">
                                    <div class="meta-data">
                                        <span class="comment-author">Michelle Fairfax</span>
                                        <span class="comment-date">Reviewed 6 Days ago</span>
                                        <div class="review-count rating">
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                        </div>
                                    </div>
                                    <p class="comment-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation.
                                        Curabitur non nulla sit amet nisl tempus
                                    </p>
                                    <div class="comment-reply">
                                        <a class="comment-btn" href="#">
                                            <i class="fa fa-reply"></i> Reply
                                        </a>
                                        <p class="recommend-btn">
                                            <span>Recommend?</span>
                                            <a href="#" class="like-btn">
                                                <i class="fa fa-thumbs-up"></i> Yes
                                            </a>
                                            <a href="#" class="dislike-btn">
                                                <i class="fa fa-thumbs-down"></i> No
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- /Comment List -->
                        <!-- Comment List -->
                        <li>
                            <div class="comment">
                                <img class="avatar rounded-circle" alt="User Image" src="~/images/testimonails2.png">
                                <div class="comment-body">
                                    <div class="meta-data">
                                        <span class="comment-author">Gina Moore</span>
                                        <span class="comment-date">Reviewed 1 Week ago</span>
                                        <div class="review-count rating">
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                        </div>
                                    </div>
                                    <p class="comment-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation.
                                        Curabitur non nulla sit amet nisl tempus
                                    </p>
                                    <div class="comment-reply">
                                        <a class="comment-btn" href="#">
                                            <i class="fa fa-reply"></i> Reply
                                        </a>
                                        <p class="recommend-btn">
                                            <span>Recommend?</span>
                                            <a href="#" class="like-btn">
                                                <i class="fa fa-thumbs-up"></i> Yes
                                            </a>
                                            <a href="#" class="dislike-btn">
                                                <i class="fa fa-thumbs-down"></i> No
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- /Comment List -->                        

                    </ul>
                    <!-- /Comment List -->

                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->
<!-- Sticky Sidebar JS -->
