<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<section id="home" class="helpr-section helpr-layout-1 section section-inverse-color">
    <div class="container">
        <div class="helpr-content" data-stellar-offset-parent="true">
            <form asp-action="Search" asp-controller="Home" enctype="multipart/form-data" method="post" id="searchServiceProviders">
                <div class="helpr-text" data-wow-duration="1s" data-wow-delay="0.5s">
                    <!-- TAGLINE -->
                    <div class="webHomeTitle">
                        <h1 class="helpr-title"></h1>
                    </div>
                    <div class="home-service clearfix">
                        <div class="wrapper-demo1">
                            <div id="dd" class="wrapper-dropdown-2" tabindex="1">
                                <span>Whose time do you need today?</span>
                                <ul class="dropdown">
                                    <li><a href="javascript:;" class="icon-2 icon-menu" data-id="2" data-value="Pest Control">Pest Control</a></li>

                                    <li><a href="javascript:;" class="icon-1 icon-menu" data-id="1" data-value="Cleaning">Cleaning</a></li>

                                    <li><a href="javascript:;" class="icon-4 icon-menu" data-id="4" data-value="Plumbing">Plumbing</a></li>

                                    <li><a href="javascript:;" class="icon-5 icon-menu" data-id="5" data-value="Appliances">Appliances</a></li>

                                    <li><a href="javascript:;" class="icon-20 icon-menu" data-id="20" data-value="Painting">Painting</a></li>

                                    <li><a href="javascript:;" class="icon-6 icon-menu" data-id="6" data-value="Carpentry">Carpentry</a></li>

                                    <li><a href="javascript:;" class="icon-3 icon-menu" data-id="3" data-value="Electrical">Electrical</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="home-service2 clearfix">
                        <div class="form-group input-append">
                            <input class="form-control input-lg" type="text" placeholder="Search" aria-label="Search">
                            <button type="submit" class="btn btn-danger wrn-btn">Go</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- helpr TEXT -->            
        </div>
    </div>
</section>
