<!------ Include the above in your HEAD tag ---------->
<section id="dropdown-buttons-with-arrow">
    <div class="row">
        <div class="col-12">
            <form asp-action="Search" asp-controller="Home" enctype="multipart/form-data" method="post" id="searchServiceProviders">
                <div class="card">
                    <!-- TAGLINE -->
                    <div class="card-header">
                        <h1 class="card-title">whose time do you need today?</h1>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <div class="row" tabindex="1">
                                <div class="col-sm-3 col-6">
                                    <div class="btn-group mr-1 mb-1">
                                        <button type="button" class="btn btn-success dropdown-toggle mb-1 btn-primary btn-lg btn-block"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            I need a ...
                                        </button>
                                        <div class="dropdown-menu arrow">
                                            <button class="dropdown-item" type="button">Plumber</button>
                                            <button class="dropdown-item" type="button">Electrician</button>
                                            <button class="dropdown-item" type="button">Carpenter</button>
                                            <div class="dropdown-divider"></div>
                                            <button class="dropdown-item" type="button">Dog walker</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <fieldset class="form-group position-relative has-icon-left">
                            <input type="text" class="form-control round mb-1" id="iconLeft10"
                                   placeholder="Where do you need? (Enter postcode)">
                            <div class="form-control-position">
                                <i class="feather icon-map-pin warning"></i>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <input class="btn btn-primary btn-min-width mr-1 mb-1" type="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </form>
            <!-- helpr TEXT -->
        </div>
    </div>
</section>
