@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@model INYTWebsite.CustomModels.BookingModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AppSettings = appSettings.Value;
    var ddlTrades = ViewData["Services"] as List<SelectListItem>;
}

<!-- Home Banner -->
<section class="section section-search">
    <div class="container-fluid">
        <div class="banner-wrapper">
            <div class="banner-header text-center">
                <h1>Whose time do you need today?</h1>
                <p>Book the best service providers closest to you</p>
            </div>

            <!-- Search -->
            <div class="search-box">
                <form asp-action="Search" asp-controller="Home" enctype="multipart/form-data" method="post" id="searchServiceProviders" class="form-inline book-now-home">
                    <div class="form-group search-location">
                        <select class="form-control" asp-for="selectedTrade"
                                asp-items="ddlTrades" style="width: 200px;" required></select>
                    </div>
                    <div class="form-group">
                        <div class="input-group search-info">
                            <input asp-for="postCode" type="text"
                                   class="form-control zipcode" style="width: 300px;"
                                   placeholder="Enter your Postcode"><br />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary search-btn"><i class="fa fa-search"></i> <span>Search</span></button>
                    <div id="output_field" class="text-center" style="color: #0094ff; font-family: Montserrat"></div>
                </form>
            </div>
            <!-- /Search -->

        </div>
    </div>
</section>
<!-- /Home Banner -->
<!--How it works Section Start-->
<section id="howitwork">
    <div class="container text-center">
        <h1 class="panel-heading">How it works</h1>
        <div class="row">
            <div class="col-md-4 col-xs-offset-0 step-one">
                <img src="~/images/book_service.jpg" height="100" width="100" alt="Book" class="img-circle htw" />
                <h4>Book</h4>
                <p>
                    Select the date and time like<br />
                    you want your service provider
                </p>
            </div>
            <div class="col-md-4 step-two">
                <img src="~/images/cleaner_service.jpg" height="100" width="100" alt="Schedule" class="img-circle" />
                <h4>Schedule</h4>
                <p>
                    Certified service providers come over<br />
                    to complete your work
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/images/shake-hands.jpg" height="100" width="100" alt="Relax" class="img-circle" />
                <h4>Relax</h4>
                <p>
                    Your work is completed to your<br />
                    satisfaction - guaranteed!
                </p>
            </div>
        </div>
    </div>
</section>
<!--How it works Section End-->

<!-- Availabe Features -->
<section class="section section-features">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h1 class="panel-heading">Available services</h1>
                </div>
                <div class="features-slider slider">
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="~/images/cleaning.png" class="img-fluid" alt="Feature">
                        <p>Cleaning</p>
                    </div>
                    <!-- /Slider Item -->
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="~/images/painting.png" class="img-fluid" alt="Feature">
                        <p>Painting</p>
                    </div>
                    <!-- /Slider Item -->
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="~/images/carpentry.png" class="img-fluid" alt="Feature">
                        <p>Carpentry</p>
                    </div>
                    <!-- /Slider Item -->
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="~/images/electrical.png" class="img-fluid" alt="Feature">
                        <p>Electrical</p>
                    </div>
                    <!-- /Slider Item -->
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="~/images/plumbing.png" class="img-fluid" alt="Feature">
                        <p>Plumbing</p>
                    </div>
                    <!-- /Slider Item -->
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="~/images/appliances.png" class="img-fluid" alt="Feature">
                        <p>Appliances</p>
                    </div>
                    <!-- /Slider Item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Availabe Features -->
