@model List<INYTWebsite.Model.Serviceprovider>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}



<section id="simple-user-cards" class="row">
    <div class="col-12">
        <h4 class="text-uppercase">You searched for a <strong>dog walker</strong> in <strong>W5</strong></h4>
    </div>
    @foreach (var sp in Model)
    {
       
        <div class="col-xl-3 col-md-6 col-12">
            <div class="card">
                <div class="text-center">
                    <div class="card-body">
                        <img src=@String.Format("../../../app-assets/images/portrait/medium/avatar-m-{0}.png", i) class="rounded-circle  height-150" alt="Card image">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">@sp.serviceprovidername</h4>
                        <h6 class="card-subtitle text-muted">@sp.miles away</h6>
                    </div>   
                    <div class="card-body">
                        <button type="button" class="btn btn-info mr-1"><i class="fa fa-plus"></i> Book now</button>
                    </div>
                </div>
            </div>
        </div>
        i++;
    }
</section>





