@model INYTWebsite.Model.ServiceProviders

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Section Start-->
<section id="What_offer">
    <div class="container text-center">
        <h1 class="panel-heading">You searched for plumber in W13 9XW. We found 23 matching search results</h1>
        <div class="row text-left">
            @foreach (var sp in Model.serviceProvidersList)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="icon_box_one">
                        <div class="img-holder text-center"><img src="~/images/testicon.svg" class="img-circle height-15-per" alt="Card image"></div>
                        <div class="box_content">
                            <h4>@sp.serviceprovidername</h4>
                            @for (int i = 0; i < sp.rating; i++)
                            {
                                <img src="~/images/star-on.svg" alt="">
                            }
                            @if ((5 - (sp.rating)) > 0)
                            {
                                int offStars = 5 - sp.rating;
                                for (int j = 0; j < offStars; j++)
                                {
                                    <img src="~/images/star-off.svg" alt="">
                                }
                            }
                            <p>This service provider lives @sp.miles away</p>
                            <button type="button" class="btn btn-sm btn-grey-blue"><i class="fa fa-id-card"></i> &nbsp; View Profile</button>
                            <a href="~/BookService"><button type="button" class="btn btn-sm btn-grey-blue"><i class="fa fa-calendar"></i> &nbsp; Book service provider</button></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--Section End-->

@section Scripts {
    <script>
            $(document).ready(function () {
                $("#bookservice").click(function () {

                });
            });
    </script>
}